.calculator-box {
    background-color: #1e1f23;
    width: 600px;
    padding: 40px;
    margin: 60px auto;
    border-radius: 8px;
    color: white;
    box-shadow: 0 4px 10px rgba(0,0,0,0.5);
}

.calculator-box h3 {
    color: #356AE6;
    font-size: 24px;
    margin-bottom: 30px;
    text-align: left;
    border-bottom: 1px solid #333;
    padding-bottom: 10px;
}

.calculator-box label {
    display: block;
    text-align: left;
    margin-top: 20px;
    font-size: 14px;
    font-weight: bold;
    color: #ddd;
}

.calculator-box input {
    width: 100%;
    padding: 12px;
    margin-top: 8px;
    background-color: #0E0F12;
    color: white;
    border: 1px solid #444;
    border-radius: 6px;
    box-sizing: border-box;
}

.calculator-box input:focus {
    border-color: #356AE6;
    outline: none;
}

.calculator-box button {
    width: 100%;
    padding: 15px;
    margin-top: 30px;
    background-color: #356AE6;
    color: white;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

.calculator-box button:hover {
    background-color: #2851b5;
}

.calculator-box h2 {
    text-align: center;
    margin-top: 30px;
    color: #356AE6;
    border-top: 1px solid #333;
    padding-top: 20px;
}



.goal-visualizer-container {
    margin-top: 30px;
    margin-bottom: 20px;
    padding: 15px 0;
    text-align: center;
}

.goal-visualizer-container h4 {
    color: #CCCCCC;
    font-size: 1.1em;
    margin-bottom: 15px;
    border-bottom: 1px dashed #333;
    padding-bottom: 5px;
}

.goal-bar-track {
    display: flex;
    width: 100%;
    height: 60px;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.4);
}

.goal-zone {
    flex: 1; 
    color: #0E0F12; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    padding: 5px 0;
    transition: background-color 0.3s;
}

.goal-zone p {
    margin: 0;
    line-height: 1.2;
    font-size: 0.9em;
}


.loss-zone {
    background-color: #FF5733; 
    border-right: 2px solid #0E0F12;
}

.maintain-zone {
    background-color: #FFC300; 
    flex: 0.5; 
}

.gain-zone {
    background-color: #00FF00; 
    border-left: 2px solid #0E0F12;
}

.guidance-note {
    font-size: 0.8em;
    color: #CCCCCC;
    margin-top: 10px;
}