.programs-header {
    text-align: center;
    padding: 30px 20px;
    border-bottom: 2px solid #356AE6; 
    margin-bottom: 40px;
}

.programs-header h1 {
    color: #356AE6;
    font-size: 40px;
    margin-bottom: 5px;
}

.program-type-section {
    margin-bottom: 60px;
    padding-top: 20px;
    border-top: 1px solid #1e1f23;
}

.program-type-section h2 {
    color: #FFFFFF; 
    text-align: center;
    margin-bottom: 30px;
    font-size: 1.8em;
    padding-top: 10px;
}

.program-grid {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
    text-align: center;
}

.program-card {
    position: relative; 
    background-color: #1e1f23; 
    padding: 30px;
    border-radius: 8px;
    width: 30%; 
    min-width: 300px; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    border-top: 5px solid #356AE6;
    transition: transform 0.3s, box-shadow 0.3s;
}

.program-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(53, 106, 230, 0.5);
}

.program-card h3 {
    color: #356AE6;
    margin-top: 0;
    margin-bottom: 15px;
}

.program-card p {
    font-size: 0.95em;
    margin-bottom: 20px;
}


.select-btn {
    padding: 10px 25px;
    background-color: #356AE6; 
    color: #FFFFFF;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.2s;
    display: inline-block;
}

.select-btn:hover {
    background-color: #5d8fee; 
}



.modal-toggle {
    display: none;
}


.program-details-box {
    position: fixed; 
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.95); 
    z-index: 1000;
    

    opacity: 0; 
    visibility: hidden;
    transition: opacity 0.4s ease-in-out, visibility 0.4s ease-in-out;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.program-details-content {
    background-color: #1e1f23; 
    width: 90%;
    max-width: 600px;
    max-height: 90vh;
    overflow-y: auto;
    padding: 40px;
    border-radius: 10px;
    border: 3px solid #356AE6;
    box-shadow: 0 0 30px rgba(53, 106, 230, 0.7);
    text-align: left;
}

.program-details-content h4 {
    color: #356AE6;
    font-size: 2em;
    margin-top: 0;
    margin-bottom: 20px;
    border-bottom: 1px solid #356AE6;
    padding-bottom: 10px;
}

.program-details-content ul {
    list-style: none;
    padding: 0;
}

.program-details-content li {
    background-color: #0E0F12;
    padding: 15px;
    margin-bottom: 10px;
    border-left: 5px solid #356AE6;
    border-radius: 5px;
    font-size: 1.1em;
}



.modal-toggle:checked ~ .program-details-box {
    opacity: 1;
    visibility: visible;
}


.close-details-btn {
    float: right;
    font-size: 2em;
    color: #FFFFFF;
    cursor: pointer;
    background-color: #356AE6;
    padding: 5px 15px;
    border-radius: 5px;
    line-height: 1;
}

.close-details-btn:hover {
    background-color: #5d8fee;
}